google-api-python-client
google-auth
google-auth-oauthlib
langchain~=0.3.25
langchain-community~=0.3.25
langchain-pinecone
openai
pinecone-client~=6.0.0
pypdf
streamlit~=1.45.1
streamlit_javascript
tiktoken
transformers
langchain-google-genai~=2.1.5
pinecone~=7.0.2